#{extends 'main.html' /}
#{set title:'World Atlas' /}

<form action="@{Application.countryList(s)}" method="GET">
    <input type="text" name="s" />
    <input type="submit" value="Say hello!" />
</form>


<H1>Welcome to the World Atlas!</H1>

<H3>What would you like to know?</H3>

<ul>
  <li><a href = "@{Application.countryList()}">What countries are in the world?</a></li>
  <li><a href = "@{Application.sayHello()}">Say Hello</a></li>
  <li><a href = "@{Application.tripPlanner()}">Where would you like to go?</a></li>
  <li>What countries are in the world?</li>
  <li>What countries are in the world?</li>
</ul>
