#{extends 'main.html' /}
#{set title:'Country List' /}

<div>
    <h2>Countries</h2>
    #{if c}
        <div >
            There are <strong>${c.size()}</strong> countries

            <table style="width:100%">
                <tr>
                    <th>Country Name</th>
                </tr>
                #{list items:c, as:'co'}
                <tr>
                    <td>${co.name}</td>
                 </tr>
                #{/list}
            </table>
        </div>
    #{/if}
    #{else}
        <div>
            Unfortunately, there are no countries in the database.
        </div>
    #{/else}
</div>
