#{extends 'main.html' /}
#{set title:'Trip Planner' /}



<H1>Trip Planner</H1>

#{ifErrors}
  <p style="color:purple">All fields are required</p>
#{/ifErrors}


#{form @tripController.planTrip()}

#{if cit}
<div>
  <p>
    <strong>Select a starting city:</strong>
    #{select 'startCityId', items:cit, valueProperty:'id', labelProperty:'name', id:'startCityId'/}
  </p>
</div>


<div>
  <p>
    <strong>Select destination city:</strong>
    #{select 'endCityId', items:cit, valueProperty:'id', labelProperty:'name', id:'endCityId'/}
  </p>
</div>

<div>
  <input type="submit" value = "Plan Trip"/>
</div>
#{/form}
#{/if}
#{else}
<div>
  No cities have been found
</div>
