<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen"
                href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png"
                href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        <div id = "navigationBar" class = "box">
            <ul id="adminMenu">
                #{secure.check 'admin'}
                    <li class="${request.controller == 'Users' ? 'selected' : ''}">
                        <a href="@{Users.list()}">User List</a>
                    </li>
                    <li class="${request.controller == 'Countries' ? 'selected' : ''}">
                        <a href="@{Countries.list()}">Country List</a>
                    </li>
                    <li class="${request.controller == 'Cities' ? 'selected' : ''}">
                        <a href="@{Cities.list()}">City List</a>
                    </li>
                    <li>
                        <a href="@{Admin.jsonUpload()}">Upload Country JSON File</a>
                    </li>
                    <li>
                        <a href="@{Secure.logout()}">Log out</a>
                    </li>
                #{/secure.check}
            </ul>
          </div>
            #{doLayout /}

        <div class="footer"><a href = "@{Admin.index()}">Admin login</a></div>


    </body>
</html>
