<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen"
                href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png"
                href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        <div id = "navigationBar" class = "box">
            <a class = "buttonRegular" href="@{Application.index}">Home</a>
            <a class = "buttonRegular" href = "@{Application.tripPlanner()}">Trip Planner</a>
            <a class = "buttonRegular" href = "@{Application.countryList()}">Country List</a>
        </div>
        <div>
            #{doLayout /}
            #{secure.check 'admin'}
            You have admin privlidges! Here's what you can do:
            <ul id="adminMenu">
                <li class="${request.controller == 'Users' ? 'selected' : ''}">
                    <a href="@{Users.list()}">View User List</a>
                </li>
                <li class="${request.controller == 'Countries' ? 'selected' : ''}">
                    <a href="@{Countries.list()}">View Country List</a>
                </li>
                <li class="${request.controller == 'Cities' ? 'selected' : ''}">
                    <a href="@{Cities.list()}">View City List</a>
                </li>
                <li>
                    <a href="@{Admin.jsonUpload()}">Upload Country JSON File</a>
                </li>
                <li>
                    <a href="@{Secure.logout()}">Log out</a>
                </li>
            </ul>
            #{/secure.check}
          </div>
        <div class="footer"><a href = "@{Admin.index()}">Admin login</a></div>


    </body>
</html>
